<img src="風景.jpg"alt="風景" width="1350" height="200" >
<center>ツイート　　フォロー　　フォロワー　　いいね</center>
<center>1000　　　　100　　　　　130　　　　600</center>
<div align="right"><button type="submit" style="background-color:#66CCFF; color:white;width:100px;height:40px;border-radius:50px 50px 50px 50px;">
    フォロー中
    </button>　︙　　
    </div>

<hr>