<div style="float:left;padding: 10px; margin-bottom: 10px; border: 1px solid ">
    
    <img src="ユニコーン.png"alt="ガンダム" >
    
    <h1>藤田　諒</h1>
    <font color="#BBBBBB">@fujiryo1256</font>
    <p style="width: 400px ;word-wrap:normal;">近畿大学産業理工学部情報学科3年です。生まれは長崎ですが育ちは福岡の方が長いです。気軽にフォロー＆リツイートよろしくお願いします。</p>
    <P><font color="#BBBBBB">🚩　福岡県糟屋郡篠栗町</font></p>
    <p><font color="#BBBBBB">🔗　1811140049h@ed.fuk.kindai.ac.jp</font></p>
    <p><font color="#BBBBBB">📅　2018年5月に登録</font></p>
    <button type="submit" style="background-color:#66CCFF; color:white;width:100px;height:60px;border-radius:50px 50px 50px 50px;">
    ツイート
    </botton>
    <button type="submit" style="background-color:#66CCFF; color:white;width:160px;height:60px;border-radius:50px 50px 50px 50px;">
    ダイレクトメッセージ
    </botton>
</div>